.colour-drop-wrapper
  float left
  padding 20px 0
  width 100%

  @media screen and (min-width: (769 / 16)em)
    width 50%

  @media screen and (min-width: (993 / 16)em)
    width 33.3%

  @media screen and (min-width: (1401 / 16)em)
    width 25%

.colour-drop
  width 90px
  height 90px
  float left
  border-radius 45px

.colour-drop-meta
  float left
  font-size 1.1rem
  margin-left 15px
  padding-top 1.2rem

  .colour-drop-name
    display: block
    font-size 1.3rem
    font-style italic
    font-weight 700

  .colour-drop-code
    display block
    font-size 1.1rem
    text-transform uppercase
